[user]
  name = Galang Airlangga
  email = galangairlangga1@gmail.com

[github]
  user = galangairlangga

[core]
  excludesfile = ~/.gitignore_global
  editor = nano
  filemode = false
  trustctime = false
    autocrlf = input